@charset "UTF-8";
@import "base.css";
@import "fonts.css";
@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400&family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
/*==========================================================================*/
/*//////////////////////////////////////////////////////////////////////////*/
/*//////                                                              //////*/
/*//////                 © Branding Technology inc.                  //////*/
/*//////                                                              //////*/
/*//////////////////////////////////////////////////////////////////////////*/
/*                                                                          */
/*    base.css  --> スタイルの初期設定を行うため、変更しないで下さい。      */
/*    fonts.css --> フォントの初期設定を行うため、変更しないで下さい。      */
/*                                                                          */
/*==========================================================================*/
/*==========================================================================*/
/*                           Common-Setting                                 */
/*==========================================================================*/
/* 基本タグのフォントサイズを指定（12px -> 120% or 1.2em ） */
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea,
select,
p,
blockquote,
th,
td,
pre,
address,
li,
dt,
dd {
  font-size: 150%;
  -webkit-text-size-adjust: none;
}

header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}

a {
  color: #482a1d;
}

a:hover,
a:active {
  text-decoration: none;
}

table {
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

p {
  margin: 0 0 1.5em;
}

section p:last-child,
.section p:last-child {
  margin-bottom: 0;
}

p,
dd,
td,
th,
li {
  line-height: 2.3em;
}

a:hover img {
  opacity: 0.7;
}

a[target=_blank]:hover img,
.logo a:hover img,
.f_logo a:hover img,
a:hover img.no_hover {
  opacity: 1;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

/*==========================================================================*/
/*                            Container                                     */
/*==========================================================================*/
body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  color: #171e27;
}

#wrapper {
  min-width: 1800px;
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.container-full {
  max-width: 1800px;
  margin: 0 auto;
}

.f-cor {
  font-family: "Cormorant", serif;
}

.f-lora {
  font-family: "Lora", serif;
}

.f-serif {
  font-family: "Noto Serif JP", serif;
}

.btn-link {
  width: 240px;
  height: 60px;
  border: 1px #171e27 solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Noto Serif JP", serif;
  position: relative;
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
  padding: 5px;
  transition: all 0.3s ease;
}
.btn-link::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent #a6884c transparent;
  position: absolute;
  bottom: 5px;
  right: 5px;
  transition: all 0.3s ease;
}
.btn-link.btn-hv:hover {
  background-color: #482a1d;
  color: #fff;
  border-color: #482a1d;
}
.btn-link.btn-hv:hover::after {
  border-color: transparent transparent #a6884c transparent;
}

.d-flex {
  display: flex;
}

#main {
  margin-top: 100px;
}

/*===================== Header ========================*/
.logo {
  line-height: 0;
}

.logo a {
  display: block;
}

#header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
#header.--fixed {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}
#header .logo {
  margin-right: 48px;
}
#header .header-wrap {
  display: flex;
  align-items: center;
  height: 100px;
}
#header .header-btn {
  display: flex;
  align-items: center;
}
#header .header-btn li {
  width: 180px;
  height: 46px;
  background-color: rgba(72, 42, 29, 0.04);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 10px;
  letter-spacing: 2px;
}
#header .header-btn li:last-child {
  margin-right: 0;
}

.btn-fix {
  position: fixed;
  top: 100px;
  right: 0px;
  z-index: 10;
}
.btn-fix .bf-list li {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  position: relative;
}
.btn-fix .bf-list li:nth-child(1) {
  background-image: linear-gradient(135deg, #545f62 0%, #333739 40%, #292b2d 65%, #202224 99%);
}
.btn-fix .bf-list li:nth-child(1) .bf-tt {
  font-size: 20px;
  font-weight: normal;
  margin: 7px 0 0;
}
.btn-fix .bf-list li:nth-child(1) .bf-ic {
  margin: 7px 0 0;
}
.btn-fix .bf-list li:nth-child(2) {
  background-image: linear-gradient(135deg, #f8c87d 0%, #b78d50 39%, #5d4427 100%);
}
.btn-fix .bf-list li:nth-child(2) .bf-tt {
  letter-spacing: 1px;
  margin-top: 5px;
}
.btn-fix .bf-list li:nth-child(2) .bf-ic {
  margin-top: 0;
}
.btn-fix .bf-list a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.btn-fix .bf-list p {
  line-height: 1;
  margin: 0;
}

.menu_icon {
  width: 100px;
  height: 100px;
  background-image: linear-gradient(135deg, #b37f4d 0%, #946234 33%, #5e3916 68%, #2a1b0a 100%);
  margin: 0 -51px 0 auto;
  font-size: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  cursor: pointer;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.menu_icon.--active .mline {
  background-color: transparent;
}
.menu_icon.--active .mline::before {
  top: 0;
  transform: rotate(45deg);
}
.menu_icon.--active .mline::after {
  top: 0;
  transform: rotate(135deg);
}
.menu_icon .mline {
  width: 42px;
  height: 1px;
  background-color: #fff;
  display: block;
  position: relative;
  margin: -18px 0 0px;
}
.menu_icon .mline::after, .menu_icon .mline::before {
  content: "";
  width: 42px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  transition: all 0.3s ease;
}
.menu_icon .mline::after {
  top: 10px;
}
.menu_icon .mline::before {
  top: -10px;
}
.menu_icon .mtext {
  width: 100%;
  text-align: center;
  line-height: 1;
  position: absolute;
  bottom: 21px;
  letter-spacing: 1px;
  font-family: "Cormorant", serif;
  pointer-events: none;
}

/*===================== End Header ========================*/
/*===================== Gnavi ========================*/
#gnavi {
  position: fixed;
  top: 100px;
  right: 0;
  width: 1050px;
  height: auto;
  background-color: #482a1d;
  color: #fff;
  z-index: 90;
  transform: translateX(100%);
  transition: all 0.5s ease;
}
#gnavi.--show {
  transform: translateX(0%);
}
#gnavi a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  transition: 0.3s ease all;
}
#gnavi a:hover {
  text-decoration: underline;
}
#gnavi .gnavi-wrapper {
  padding: 147px 136px 160px 130px;
}
#gnavi .gnavi-top {
  display: block;
  text-transform: uppercase;
  margin-bottom: 52px;
  letter-spacing: 1px;
}
#gnavi .gnavi-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 72px;
}
#gnavi .gnavi-item:nth-child(1) {
  width: 246px;
}
#gnavi .gnavi-item:nth-child(1) .gnavi-list {
  column-gap: 91px;
}
#gnavi .gnavi-item:nth-child(2) {
  width: 443px;
}
#gnavi .gnavi-item:nth-child(2) .gnavi-list {
  column-gap: 36px;
}
#gnavi .gnavi-head {
  font-size: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 6px;
  margin-bottom: 21px;
  display: flex;
  justify-content: space-between;
  letter-spacing: 1px;
  line-height: 1.6;
}
#gnavi .gnavi-head .f-serif {
  position: relative;
}
#gnavi .gnavi-head .f-serif::before {
  content: "";
  width: 7px;
  height: 7px;
  display: inline-block;
  background-color: #896d40;
  transform: translate(1px, -4px) rotate(45deg);
  margin-right: 7px;
}
#gnavi .gnavi-head .f-cor {
  color: #896d40;
  transform: translate(2px, 2px);
}
#gnavi .gnavi-list {
  columns: 2;
}
#gnavi .gnavi-list a {
  letter-spacing: 0px;
  white-space: nowrap;
}
#gnavi .gnavi-info {
  display: flex;
  justify-content: space-between;
}
#gnavi .tkb-ig {
  margin-bottom: 12px;
}
#gnavi .tkb-nte {
  margin-bottom: 0;
  line-height: 1.5;
  letter-spacing: 1.4px;
}
#gnavi .tkb-nte span {
  display: block;
}
#gnavi .gnavi-itm {
  transform: translate(8px, 0px);
}
#gnavi .gnavi-call {
  text-align: center;
  margin-bottom: 16px;
}
#gnavi .call-g {
  font-size: 31px;
  font-weight: normal;
  display: block;
  line-height: 1;
  letter-spacing: 0.7px;
  margin-bottom: 3px;
}
#gnavi .gnavi-time {
  font-size: 14px;
  letter-spacing: 1.1px;
}
#gnavi .gnavi-web {
  width: 220px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background-image: linear-gradient(160deg, #f8c87d 0%, #b78d50 39%, #5d4427 100%);
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
  position: relative;
  margin: 0 auto;
}
#gnavi .gnavi-web img {
  margin-right: 9px;
}
#gnavi .gnavi-web:hover {
  text-decoration: none;
}
#gnavi .gnavi-web::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 7px 7px;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

/*===================== End Gnavi ========================*/
/*===================== Top Mainvisual ============================*/
#visual {
  max-width: 1800px;
  margin: 0 auto;
  position: relative;
}
#visual .slick-wrap p {
  margin: 0;
}
#visual .slick-wrap img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}
#visual .visual-hd {
  position: absolute;
  bottom: 52px;
  left: -100px;
  background-color: rgba(72, 42, 29, 0.95);
  width: 748px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 100px;
}
#visual .visual-hd::before {
  content: "";
  width: calc(100% - 106px);
  height: 1px;
  background-color: #a6884c;
  position: absolute;
  bottom: 33%;
  left: 0;
}
#visual .visual-tt {
  font-size: 30px;
  color: #fff;
  margin: -10px 0 0;
  position: relative;
}

/*===================== end Top Mainvisual ========================*/
.title {
  font-size: 75px;
  color: #896d40;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

/*===================== Top Content ============================*/
.news {
  background-color: rgba(72, 42, 29, 0.04);
  margin-top: -129px;
  padding: 174px 0 48px;
}
.news .news-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.news .news-wrapper p {
  margin-bottom: 0;
}
.news .news-en {
  font-size: 40px;
  margin-bottom: 8px;
  color: #896d40;
  letter-spacing: 1px;
  display: block;
}
.news .news-jp {
  font-size: 30px;
  line-height: 1;
  letter-spacing: 4px;
}
.news .news-list {
  margin-top: 9px;
}
.news .nw-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.news .news-item {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  position: relative;
}
.news .news-item:last-child {
  margin-bottom: 0;
}
.news .news-item:nth-child(2) .news-b {
  background-color: #896d40;
}
.news .news-item:hover .news-t {
  color: #896d40;
}
.news .news-date {
  margin: 0 30px 0 0;
  letter-spacing: 1px;
}
.news .news-b {
  padding: 5px;
  background-color: #482a1d;
  margin: 0 30px 0 0;
  color: #fff;
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.news .news-ft {
  margin-top: 17px;
  transform: translateX(2px);
}

.intro {
  margin: 100px 0 98px;
}
.intro .intro-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
.intro .intro-logo {
  display: block;
  text-align: center;
  margin-bottom: 43px;
}
.intro .intro-logo:hover img {
  opacity: 1;
}
.intro .d-flex {
  flex-wrap: wrap;
  justify-content: space-between;
}
.intro .intro-tkb {
  width: 50%;
}
.intro .intro-tkb img {
  margin-top: 8px;
  margin-bottom: 7px;
}
.intro .it-tkb {
  letter-spacing: 1px;
  margin-bottom: 0;
  line-height: 1.7;
}
.intro .intro-txt {
  width: 50%;
  padding-left: 40px;
}
.intro .intro-list {
  margin-bottom: 18px;
}
.intro .intro-list li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 3px;
  letter-spacing: 1.4px;
  line-height: 1.8;
}
.intro .intro-list li:last-child {
  margin-bottom: 0;
}
.intro .intro-list li::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #896d40;
  position: absolute;
  top: 10px;
  left: 0;
  transform: rotate(45deg);
}
.intro .intro-btn {
  display: flex;
  justify-content: space-between;
}
.intro .btn-link {
  width: 220px;
  letter-spacing: 0.65px;
}
.intro .intro-banner {
  width: 100%;
  margin-top: 36px;
  border: 1px #171e27 solid;
  background: url("/images/intro-banner.jpg") no-repeat center;
  background-size: cover;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 0;
  transition: all 0.3s ease;
}
.intro .intro-banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #fff;
  opacity: 0.5;
  transition: all 0.3s ease;
  z-index: -1;
}
.intro .intro-banner:hover::after {
  opacity: 0;
}
.intro .intro-banner:hover .intro-p img {
  transform: translateX(5px);
}
.intro .intro-banner p {
  line-height: 1.5;
}
.intro .intro-tt {
  margin-bottom: 0px;
  font-size: 30px;
  letter-spacing: 1px;
}
.intro .intro-p {
  margin: 0;
  display: flex;
  align-items: center;
  transform: translateY(15px);
}
.intro .intro-p img {
  margin-left: 10px;
  transition: all 0.3s ease;
}
.intro .intro-lk {
  position: absolute;
  inset: 0;
  transition: all 0.3s ease;
}

.concept {
  position: relative;
  z-index: 0;
  padding-bottom: 98px;
}
.concept::before {
  content: "";
  position: absolute;
  top: 46px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(72, 42, 29, 0.04);
  z-index: -1;
}
.concept .cept-label {
  letter-spacing: 1.3px;
  font-size: 30px;
}
.concept .cept-head {
  margin-bottom: 40px;
  text-align: center;
}
.concept .cept-list {
  display: flex;
}
.concept .cept-list li {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.concept .cept-list li::before {
  content: "";
  position: absolute;
  inset: 1;
  background-color: rgba(72, 42, 29, 0.7);
}
.concept .cept-img {
  margin-bottom: 0;
  position: relative;
}
.concept .cept-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(72, 42, 29, 0.7);
  mix-blend-mode: multiply;
}
.concept .cept-img img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.concept .cept-tx {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.concept .cept-num {
  padding-bottom: 16px;
  margin-bottom: 26px;
  border-bottom: 1px solid #fff;
  font-family: "Cormorant", serif;
  display: inline-block;
  font-size: 40px;
  transform: translateY(-7px);
}
.concept .cept-tt {
  font-family: "Noto Serif JP", serif;
  font-size: 40px;
  letter-spacing: 1px;
  display: block;
}
.concept .cept-wrap {
  background-color: #fff;
  padding: 40px 151px 80px;
}
.concept .cept-txt {
  letter-spacing: 0.8px;
  margin-bottom: 52px;
}
.concept .cept-txt p {
  margin-bottom: 9px;
}
.concept .btn-link {
  width: 300px;
  margin: 0 auto;
}

.knowledge {
  overflow: hidden;
  background-color: #482a1d;
  color: #fff;
  padding: 124px 0 95px;
}
.knowledge .know-txt {
  margin-left: calc((100% - 1200px) / 2);
}
.knowledge .know-head {
  display: inline-block;
}
.knowledge .title {
  margin-bottom: 14px;
}
.knowledge .know-label {
  margin-bottom: 20px;
  letter-spacing: 3px;
  font-size: 30px;
}
.knowledge .know-desc {
  letter-spacing: 0.5px;
  margin-bottom: 53px;
}
.knowledge .know-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.knowledge .know-list li {
  padding: 0 10px 0 31px;
  position: relative;
  letter-spacing: 0.7px;
  font-family: "Noto Serif JP", serif;
  font-size: 18px;
  width: 48.5%;
  margin: 0 0 38px 0px;
}
.knowledge .know-list li:nth-child(3), .knowledge .know-list li:nth-child(4) {
  transform: translateX(40px);
}
.knowledge .know-list li::before {
  content: "";
  width: 47px;
  height: 62px;
  background-image: url("/images/asset.png");
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.knowledge .know-ig {
  float: right;
  margin: 17px 0 0 35px;
  transform: translateX(50px);
}
.knowledge .know-ig img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.hospitality {
  padding: 0 0 101px;
  margin-top: 0px;
  color: #fff;
  background-color: #482a1d;
  position: relative;
  z-index: 0;
}
.hospitality::before {
  content: "";
  width: 100%;
  position: absolute;
  top: 97px;
  bottom: 0;
  left: 0;
  background-color: #3e2318;
  z-index: -1;
}
.hospitality .hospi-txt {
  margin: 0 0 0 0;
  margin-right: calc((100% - 1200px) / 2);
  display: inline-block;
}
.hospitality .hospi-head {
  display: inline-block;
  margin-top: 52px;
}
.hospitality .title {
  margin-bottom: 35px;
}
.hospitality .hospi-label {
  margin-bottom: 35px;
  font-size: 30px;
}
.hospitality .hospi-label span {
  display: block;
  line-height: 1.4;
  margin-bottom: 9px;
}
.hospitality .hospi-label span:last-child {
  margin-bottom: 0;
}
.hospitality .hospi-desc {
  letter-spacing: 0.5px;
  line-height: 2.34;
}
.hospitality .hospi-ig {
  transform: translateX(-48px);
  float: left;
  margin-right: 76px;
  width: 960px;
  height: 586px;
}
.hospitality .hospi-img {
  float: left;
  position: relative;
}
.hospitality .hospi-t {
  width: 220px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0%;
  right: 0;
  font-size: 17px;
  background-color: #482a1d;
  text-align: center;
  line-height: 1.3;
}
.hospitality .hospi-t::after {
  content: "";
  width: 40px;
  height: 1px;
  background-color: #896d40;
  position: absolute;
  bottom: 0;
}
.hospitality .hp-img2 {
  margin-left: 20px;
  margin-bottom: 20px;
}
.hospitality .hp-img3 {
  margin-left: 20px;
}

.equipment {
  padding: 104px 0 97px;
  background-color: #482a1d;
  color: #fff;
}
.equipment .title {
  text-align: center;
  margin-bottom: 27px;
}
.equipment .equi-label {
  text-align: center;
  font-size: 30px;
  line-height: 1.8;
  letter-spacing: 1px;
  margin-bottom: 48px;
}
.equipment .equi-cols {
  display: flex;
  flex-wrap: wrap;
  margin: -30px;
}
.equipment .equi-col {
  width: 33.3333333333%;
  padding: 30px;
}
.equipment .equi-item {
  position: relative;
  overflow: hidden;
}
.equipment .equi-item p {
  margin-bottom: 0;
}
.equipment .equi-item:hover .equi-desc {
  transform: translateY(0);
}
.equipment .equi-img {
  transition: all 0.4s ease;
}
.equipment .equi-img img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}
.equipment .equi-tt {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: "Noto Serif JP", serif;
  width: 200px;
  height: 50px;
  background-color: #482a1d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  transition: all 0.3s ease;
}
.equipment .equi-tt::after {
  content: "";
  width: 40px;
  height: 1px;
  background-color: #a6884c;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.equipment .equi-desc {
  margin-top: -11px;
  letter-spacing: 0.2px;
}
.equipment .btn-link {
  text-align: center;
  color: #fff;
  border-color: #fff;
  margin: 20px 30px 0 auto;
  width: 300px;
}
.equipment .btn-link::after {
  border-color: transparent transparent #fff transparent;
}
.equipment .btn-link:hover {
  background-color: #fff;
  color: #896d40;
}
.equipment .btn-link:hover::after {
  border-color: transparent transparent #896d40 transparent;
}

.cleanliness {
  overflow: hidden;
  padding: 100px 0 100px;
  position: relative;
}
.cleanliness::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1152px;
  height: 606px;
  background-color: rgba(72, 42, 29, 0.04);
}
.cleanliness .liness-txt {
  margin-left: calc((100% - 1200px) / 2);
}
.cleanliness .liness-head {
  display: inline-block;
  margin-top: 35px;
}
.cleanliness .title {
  margin-bottom: 14px;
  transform: translateX(-5px);
}
.cleanliness .liness-label {
  font-size: 30px;
  margin-bottom: 20px;
  letter-spacing: 1.4px;
}
.cleanliness .liness-desc {
  letter-spacing: 0.5px;
  margin-bottom: 49px;
  line-height: 2.34;
}
.cleanliness .liness-ig {
  float: right;
  transform: translateX(50px);
  margin-left: 85px;
}
.cleanliness .btn-link {
  width: 300px;
}

.precautions {
  position: relative;
  padding: 104px 0 100px;
  color: #fff;
  height: 1036px;
  width: 100%;
  background-image: url("/images/precautions-img01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}
.precautions::before {
  content: "";
  background-image: radial-gradient(circle at center, rgba(77, 51, 29, 0.9) 0%, #3b281c 47%, #261c17 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.9;
  z-index: -1;
}
.precautions .precaut-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
.precautions .title {
  text-align: center;
  color: #fff;
  margin-bottom: 9px;
}
.precautions .precaut-label {
  margin-bottom: 20px;
  font-size: 40px;
  text-align: center;
  line-height: 1.4;
  letter-spacing: 2.5px;
}
.precautions .precaut-desc {
  margin-bottom: 40px;
  text-align: center;
}
.precautions .precaut-list {
  font-family: "Noto Serif JP", serif;
  background-color: rgba(191, 138, 84, 0.3);
  padding: 64px 20px 62px 94px;
  margin-bottom: 41px;
}
.precautions .precaut-list li {
  position: relative;
  padding-left: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  font-size: 18px;
  letter-spacing: 1.4px;
  line-height: 1.8;
}
.precautions .precaut-list li:last-child {
  margin-bottom: 0;
}
.precautions .precaut-list li:nth-child(1) {
  margin-bottom: 60px;
}
.precautions .precaut-num {
  color: #a6884c;
  font-size: 30px;
  font-family: "Cormorant", serif;
  position: absolute;
  top: -3px;
  left: 0;
  line-height: 1;
}
.precautions .precaut-num::after {
  content: "";
  width: 47px;
  height: 62px;
  background: url("/images/asset.png");
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-42%, -43%);
}
.precautions .precaut-ft {
  text-align: center;
}

.treatment {
  padding: 114px 0 100px;
}
.treatment .main-cl {
  color: #896d40;
  display: inline-block !important;
}
.treatment .title {
  text-align: center;
  margin-bottom: 17px;
}
.treatment .treat-label {
  text-align: center;
  margin-bottom: 37px;
}
.treatment .treat-label span {
  display: block;
}
.treatment .trt-t {
  margin-bottom: 6px;
  font-size: 20px;
}
.treatment .trt-b {
  font-size: 30px;
  letter-spacing: 2.2px;
}
.treatment .treat-desc {
  max-width: 1000px;
  margin: 0 auto 62px;
  letter-spacing: 0.4px;
}
.treatment .treat-cols {
  margin: -32px -30px;
  display: flex;
  flex-wrap: wrap;
}
.treatment .treat-item {
  padding: 32px 30px;
  width: 50%;
}
.treatment .treat-item:nth-child(1) .txt-desc {
  margin-bottom: 52px;
}
.treatment .treat-item:nth-child(2) .txt-desc {
  margin-bottom: 31px;
}
.treatment .treat-img {
  margin-bottom: 0;
  position: relative;
  z-index: -2;
}
.treatment .treat-img img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}
.treatment .treat-txt {
  background-color: #fff;
  width: 480px;
  position: relative;
  margin: -50px auto 0;
  padding: 48px 40px 50px;
  position: relative;
}
.treatment .treat-txt::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 4px;
  left: 4px;
  background-color: #482a1d;
  z-index: -1;
}
.treatment .txt-label {
  font-size: 16px;
  font-family: "Noto Serif JP", serif;
  margin-bottom: 5px;
  text-align: center;
  line-height: 1.3;
  letter-spacing: 0.5px;
}
.treatment .txt-title {
  font-family: "Noto Serif JP", serif;
  font-size: 30px;
  color: #896d40;
  padding-bottom: 15px;
  margin-bottom: 10px;
  position: relative;
  text-align: center;
  line-height: 1.3;
  letter-spacing: 2px;
}
.treatment .txt-title::before {
  content: "";
  width: 40px;
  height: 1px;
  background-color: #896d40;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.treatment .txt-desc {
  letter-spacing: 0.3px;
  margin-bottom: 29px;
  line-height: 2.34;
}
.treatment .btn-link {
  margin: 0 auto;
  width: 300px;
  border-color: #482a1d;
  background-color: #482a1d;
  color: #fff;
}
.treatment .btn-link:hover {
  background-color: #fff;
  color: #896d40;
}
.treatment .treat-list {
  display: flex;
  margin-top: 74px;
}
.treatment .treat-list li {
  width: 33.3333333333%;
  position: relative;
  cursor: pointer;
}
.treatment .treat-list li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #412922 0%, #412922 0%, rgba(65, 41, 34, 0) 80%);
  z-index: 1;
  mix-blend-mode: multiply;
}
.treatment .treat-list li::after {
  content: "";
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent #fff transparent;
  z-index: 2;
}
.treatment .treat-list li:hover .lst-img img {
  transform: scale(1.1);
}
.treatment .treat-list a.lst-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.treatment .lst-img {
  margin-bottom: 0;
  overflow: hidden;
}
.treatment .lst-img img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  transition: all 0.4s ease;
}
.treatment .lst-txt {
  position: absolute;
  bottom: 8px;
  left: 22px;
  right: 10px;
  z-index: 2;
  margin-bottom: 0;
  color: #fff;
  font-family: "Noto Serif JP", serif;
}
.treatment .lst-tt {
  display: block;
  font-size: 16px;
  position: relative;
  padding: 0 0 11px 0;
  margin-bottom: 10px;
  line-height: 1.5;
}
.treatment .lst-tt::after {
  content: "";
  width: 290px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0;
  left: -22px;
}
.treatment .lst-title {
  font-size: 24px;
  letter-spacing: 2.6px;
}

.doctor {
  background-color: rgba(72, 42, 29, 0.04);
  padding: 100px 0 100px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.doctor::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1150px;
  height: 669px;
  z-index: -1;
  background-color: #fff;
}
.doctor .doctor-ig {
  float: left;
  transform: translate(-48px, 3px);
  margin-right: 28px;
}
.doctor .doctor-txt {
  margin-right: calc((100% - 1200px) / 2);
}
.doctor .doctor-head {
  margin: 36px 0 0 0;
  display: inline-block;
}
.doctor .title {
  margin-bottom: 27px;
}
.doctor .doctor-label {
  margin-bottom: 32px;
  font-size: 30px;
  line-height: 1.5;
}
.doctor .doctor-desc {
  margin-bottom: 41px;
  letter-spacing: 0.5px;
}
.doctor .doctor-desc span {
  display: block;
  margin-bottom: 12px;
}
.doctor .doctor-desc span:last-child {
  margin-bottom: 0;
}
.doctor .btn-link {
  width: 300px;
  transform: translateX(4px);
}

.bg-parallax {
  background-image: url("/images/bg-parallax.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 600px;
  width: 100%;
}

/*===================== end Top Content ========================*/
/*===================== Footer ========================*/
.footer-top {
  padding: 0 0 73px;
  margin-top: -156px;
}
.footer-top .ft-wrapper {
  background-color: #fff;
  position: relative;
  padding: 77px 60px 0;
}
.footer-top .ft-cols {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-top .ft-item {
  width: 500px;
}
.footer-top .ft-logo {
  display: block;
  text-align: center;
  margin-bottom: 45px;
  margin-left: 33px;
}
.footer-top .ft-logo:hover img {
  opacity: 1;
}
.footer-top .d-flex {
  justify-content: space-between;
  margin-bottom: 20px;
}
.footer-top .ft-call {
  padding-right: 10px;
}
.footer-top .call-f {
  font-weight: normal;
  font-size: 31px;
  display: block;
  text-decoration: none;
  letter-spacing: 0.75px;
  line-height: 1.3;
}
.footer-top .ft-time {
  font-size: 14px;
  letter-spacing: 1.3px;
}
.footer-top .ft-web {
  width: 220px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background-image: linear-gradient(160deg, #f8c87d 0%, #b78d50 39%, #5d4427 100%);
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
  position: relative;
}
.footer-top .ft-web:hover img {
  opacity: 1;
}
.footer-top .ft-web::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 7px 7px;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.footer-top .ft-web img {
  margin-right: 9px;
}
.footer-top .tkb-img {
  margin-bottom: 15px;
}
.footer-top .tkb-note {
  margin-bottom: 0;
}
.footer-top .tkb-note span {
  display: block;
  line-height: 1.5;
  letter-spacing: 1px;
}
.footer-top .ft-map {
  margin-bottom: 10px;
  text-align: right;
}
.footer-top .ft-map iframe {
  margin-bottom: 12px;
}
.footer-top .map-link {
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
}
.footer-top .map-link img {
  margin-left: 6px;
}
.footer-top .ft-list li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 3px;
  letter-spacing: 1.4px;
  line-height: 1.8;
}
.footer-top .ft-list li::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #896d40;
  position: absolute;
  top: 10px;
  left: 0;
  transform: rotate(45deg);
}
.footer-top .ft-list li:last-child {
  margin-bottom: 0;
}

.footer-mid {
  background-color: rgba(72, 42, 29, 0.04);
  padding: 54px 0 32px;
}
.footer-mid .fm-desc {
  line-height: 2.15;
  letter-spacing: 0.6px;
}

.footer-bottom {
  background-color: #482a1d;
  color: #fff;
  padding: 76px 0 17px;
}
.footer-bottom a {
  color: #fff !important;
}
.footer-bottom .fb-top {
  display: block;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 42px;
  transition: all 0.3s ease;
}
.footer-bottom .fb-top:hover {
  text-decoration: underline;
}
.footer-bottom .d-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 89px;
}
.footer-bottom .fb-item:nth-child(1) {
  width: 268px;
}
.footer-bottom .fb-item:nth-child(2) {
  width: 467px;
  transform: translateX(-4px);
}
.footer-bottom .fb-item:nth-child(3) {
  width: 200px;
  margin-top: 10px;
}
.footer-bottom .fb-head {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  line-height: 1.4;
  margin-bottom: 20px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.footer-bottom .fb-head .f-serif {
  padding-left: 19px;
  position: relative;
  letter-spacing: 2px;
}
.footer-bottom .fb-head .f-serif::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 1px;
  width: 8px;
  height: 8px;
  background-color: #896d40;
  transform: rotate(45deg);
}
.footer-bottom .fb-head .f-cor {
  color: #896d40;
  letter-spacing: 1px;
}
.footer-bottom .fb-list {
  columns: 2;
}
.footer-bottom .fb-link {
  text-decoration: none;
  transition: all 0.3s ease;
}
.footer-bottom .fb-link:hover {
  text-decoration: underline;
}
.footer-bottom .fb-web {
  display: block;
  margin-bottom: 20px;
  cursor: pointer;
}
.footer-bottom .fb-web:hover img {
  opacity: 1;
}
.footer-bottom .copyright {
  font-size: 13px;
  letter-spacing: 1px;
  opacity: 0.5;
  text-align: center;
}

#totop {
  position: fixed;
  bottom: 0px;
  right: 50px;
  right: 0;
  width: 100px;
  height: 100px;
  z-index: 89;
  margin-bottom: 0;
  display: none;
}
#totop a {
  height: 100%;
  font-family: "Cormorant", serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #482a1d;
  color: #896d40;
  text-decoration: none;
  border-top: 1px solid #896d40;
  border-left: 1px solid #896d40;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
#totop a img {
  margin-bottom: 7px;
  transform: translateY(7px);
}
#totop:hover {
  opacity: 0.8;
}
#totop:hover img {
  opacity: 1;
}

/*===================== End Footer ========================*/
/*Fonts*****************/
/*
font-family: 'Cormorant', serif;
font-family: 'Lora', serif;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Noto Serif JP', serif;
*/
/*IE*/
/*Edge*/
/*FireFox*/
@-moz-document url-prefix() {}
/*Safari*/

/*# sourceMappingURL=styles.css.map */
