@charset "UTF-8";
@import "base.css";
@import "fonts.css";
@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400&family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

/*==========================================================================*/
/*//////////////////////////////////////////////////////////////////////////*/
/*//////                                                              //////*/
/*//////                 © Branding Technology inc.                  //////*/
/*//////                                                              //////*/
/*//////////////////////////////////////////////////////////////////////////*/
/*                                                                          */
/*    base.css  --> スタイルの初期設定を行うため、変更しないで下さい。      */
/*    fonts.css --> フォントの初期設定を行うため、変更しないで下さい。      */
/*                                                                          */
/*==========================================================================*/

/*==========================================================================*/
/*                           Common-Setting                                 */
/*==========================================================================*/

/* 基本タグのフォントサイズを指定（12px -> 120% or 1.2em ） */
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea,
select,
p,
blockquote,
th,
td,
pre,
address,
li,
dt,
dd {
    font-size: 150%;
    -webkit-text-size-adjust: none;
}

header,
section,
footer,
aside,
nav,
main,
article,
figure {
    display: block;
}

a {
    color: #482a1d;
}

a:hover,
a:active {
    text-decoration: none;
}

table {
    width: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

p {
    margin: 0 0 1.5em;
}

section p:last-child,
.section p:last-child {
    margin-bottom: 0;
}

p,
dd,
td,
th,
li {
    line-height: 2.3em;
}

a:hover img {
    opacity: 0.7;
}

a[target="_blank"]:hover img,
.logo a:hover img,
.f_logo a:hover img,
a:hover img.no_hover {
    opacity: 1;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

/*==========================================================================*/
/*                            Container                                     */
/*==========================================================================*/
body {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 300;
    color: #171e27;
}

#wrapper {
    min-width: 1800px;
    overflow: hidden;
    // min-width: 2000px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.container-full {
    max-width: 1800px;
    margin: 0 auto;
}

.f-cor {
    font-family: "Cormorant", serif;
}

.f-lora {
    font-family: "Lora", serif;
}

.f-serif {
    font-family: "Noto Serif JP", serif;
}

.btn-link {
    width: 240px;
    height: 60px;
    border: 1px #171e27 solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Noto Serif JP", serif;
    position: relative;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
    padding: 5px;
    transition: all 0.3s ease;

    &::after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 10px 10px;
        border-color: transparent transparent #a6884c transparent;
        position: absolute;
        bottom: 5px;
        right: 5px;
        transition: all 0.3s ease;
    }

    &.btn-hv {
        &:hover {
            background-color: #482a1d;
            color: #fff;
            border-color: #482a1d;

            &::after {
                border-color: transparent transparent #a6884c transparent;
            }
        }
    }
}

.d-flex {
    display: flex;
}

#main {
    margin-top: 100px;
}

/*===================== Header ========================*/
.logo {
    line-height: 0;
}

.logo a {
    display: block;
}

#header {
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;

    &.--fixed {
        box-shadow: 0 0 10px rgba($color: #000, $alpha: 0.16);
    }

    .logo {
        margin-right: 48px;
    }

    .header-wrap {
        display: flex;
        align-items: center;
        height: 100px;
    }

    .header-btn {
        display: flex;
        align-items: center;

        li {
            width: 180px;
            height: 46px;
            background-color: rgba($color: #482a1d, $alpha: 0.04);
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-right: 10px;
            letter-spacing: 2px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.btn-fix {
    position: fixed;
    top: 100px;
    right: 0px;
    z-index: 10;

    .bf-list {
        li {
            width: 100px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: #fff;
            position: relative;
            &:nth-child(1) {
                background-image: linear-gradient(135deg, #545f62 0%, #333739 40%, #292b2d 65%, #202224 99%);

                .bf-tt {
                    font-size: 20px;
                    font-weight: normal;
                    margin: 7px 0 0;
                }

                .bf-ic {
                    margin: 7px 0 0;
                }
            }

            &:nth-child(2) {
                background-image: linear-gradient(135deg, #f8c87d 0%, #b78d50 39%, #5d4427 100%);

                .bf-tt {
                    letter-spacing: 1px;
                    margin-top: 5px;
                }

                .bf-ic {
                    margin-top: 0;
                }
            }
        }

        a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        p {
            line-height: 1;
            margin: 0;
        }
    }
}

.menu_icon {
    width: 100px;
    height: 100px;
    background-image: linear-gradient(135deg, #b37f4d 0%, #946234 33%, #5e3916 68%, #2a1b0a 100%);
    // margin-left: auto;
    // margin-right: -50px;
    margin: 0 -51px 0 auto;
    font-size: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    cursor: pointer;

    margin: 0;
    position: absolute;
    top: 0;
    right: 0;

    &.--active {
        .mline {
            background-color: transparent;
            &::before {
                top: 0;
                transform: rotate(45deg);
            }

            &::after {
                top: 0;
                transform: rotate(135deg);
            }
        }
    }

    .mline {
        width: 42px;
        height: 1px;
        background-color: #fff;
        display: block;
        position: relative;
        margin: -18px 0 0px;

        &::after,
        &::before {
            content: "";
            width: 42px;
            height: 1px;
            background-color: #fff;
            position: absolute;
            transition: all 0.3s ease;
        }

        &::after {
            top: 10px;
        }

        &::before {
            top: -10px;
        }
    }

    .mtext {
        width: 100%;
        text-align: center;
        line-height: 1;
        position: absolute;
        bottom: 21px;
        letter-spacing: 1px;
        font-family: "Cormorant", serif;
        pointer-events: none;
    }
}

/*===================== End Header ========================*/

/*===================== Gnavi ========================*/
#gnavi {
    position: fixed;
    top: 100px;
    right: 0;
    width: 1050px;
    height: auto;
    background-color: #482a1d;
    color: #fff;
    z-index: 90;
    transform: translateX(100%);
    transition: all 0.5s ease;
    &.--show {
        transform: translateX(0%);
    }

    a {
        color: #fff;
        font-size: 15px;
        text-decoration: none;
        transition: 0.3s ease all;
        &:hover {
            text-decoration: underline;
        }
    }

    .gnavi-wrapper {
        padding: 147px 136px 160px 130px;
    }

    .gnavi-top {
        display: block;
        text-transform: uppercase;
        margin-bottom: 52px;
        letter-spacing: 1px;
    }

    .gnavi-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 72px;
    }

    .gnavi-item {
        &:nth-child(1) {
            width: 246px;

            .gnavi-list {
                column-gap: 91px;
            }
        }

        &:nth-child(2) {
            width: 443px;

            .gnavi-list {
                column-gap: 36px;
            }
        }
    }

    .gnavi-head {
        font-size: 20px;
        border-bottom: 1px solid rgba($color: #fff, $alpha: 0.3);
        padding-bottom: 6px;
        margin-bottom: 21px;
        display: flex;
        justify-content: space-between;
        letter-spacing: 1px;
        line-height: 1.6;
        .f-serif {
            position: relative;
            &::before {
                content: "";
                width: 7px;
                height: 7px;
                display: inline-block;
                background-color: #896d40;
                transform: translate(1px, -4px) rotate(45deg);
                margin-right: 7px;
            }
        }
        .f-cor {
            color: #896d40;
            transform: translate(2px, 2px);
        }
    }

    .gnavi-list {
        columns: 2;
        li {
        }
        a {
            letter-spacing: 0px;
            white-space: nowrap;
        }
    }

    .gnavi-info {
        display: flex;
        justify-content: space-between;
    }

    .tkb-ig {
        margin-bottom: 12px;
    }

    .tkb-nte {
        margin-bottom: 0;
        line-height: 1.5;
        letter-spacing: 1.4px;
        span {
            display: block;
        }
    }

    .gnavi-itm {
        transform: translate(8px, 0px);
    }

    .gnavi-call {
        text-align: center;
        margin-bottom: 16px;
    }

    .call-g {
        font-size: 31px;
        font-weight: normal;
        display: block;
        line-height: 1;
        letter-spacing: 0.7px;
        margin-bottom: 3px;
    }

    .gnavi-time {
        font-size: 14px;
        letter-spacing: 1.1px;
    }

    .gnavi-web {
        width: 220px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        background-image: linear-gradient(160deg, #f8c87d 0%, #b78d50 39%, #5d4427 100%);
        text-decoration: none;
        color: #fff;
        letter-spacing: 1px;
        position: relative;
        margin: 0 auto;
        img {
            margin-right: 9px;
        }
        &:hover {
            text-decoration: none;
        }
        &::after {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 7px 7px;
            border-color: transparent transparent #fff transparent;
            position: absolute;
            bottom: 5px;
            right: 5px;
        }
    }
}

/*===================== End Gnavi ========================*/

/*===================== Top Mainvisual ============================*/
#visual {
    max-width: 1800px;
    margin: 0 auto;
    position: relative;

    .slick-wrap {
        p {
            margin: 0;
        }

        img {
            width: 100%;
            max-width: 100%;
            object-fit: cover;
        }
    }

    .visual-hd {
        position: absolute;
        bottom: 52px;
        left: -100px;
        background-color: rgba($color: #482a1d, $alpha: 0.95);
        width: 748px;
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 100px;

        &::before {
            content: "";
            width: calc(calc(100% - 106px));
            height: 1px;
            background-color: #a6884c;
            position: absolute;
            bottom: 33%;
            left: 0;
        }
    }

    .visual-tt {
        font-size: 30px;
        color: #fff;
        margin: -10px 0 0;
        position: relative;
    }
}

/*===================== end Top Mainvisual ========================*/

.title {
    font-size: 75px;
    color: #896d40;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

/*===================== Top Content ============================*/
.news {
    background-color: rgba($color: #482a1d, $alpha: 0.04);
    margin-top: -129px;
    padding: 174px 0 48px;

    .news-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        p {
            margin-bottom: 0;
        }
    }

    .news-en {
        font-size: 40px;
        margin-bottom: 8px;
        color: #896d40;
        letter-spacing: 1px;
        display: block;
    }

    .news-jp {
        font-size: 30px;
        line-height: 1;
        letter-spacing: 4px;
    }

    .news-list {
        margin-top: 9px;
    }

    .nw-link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .news-item {
        display: flex;
        align-items: center;
        margin-bottom: 6px;
        position: relative;

        &:last-child {
            margin-bottom: 0;
        }

        &:nth-child(2) {
            .news-b {
                background-color: #896d40;
            }
        }

        &:hover {
            .news-t {
                color: #896d40;
            }
        }
    }

    .news-date {
        margin: 0 30px 0 0;
        letter-spacing: 1px;
    }

    .news-b {
        padding: 5px;
        background-color: #482a1d;
        margin: 0 30px 0 0;
        color: #fff;
        width: 100px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .news-t {
        // letter-spacing: 1px;
    }

    .news-ft {
        margin-top: 17px;
        transform: translateX(2px);
    }
}

.intro {
    margin: 100px 0 98px;

    .intro-wrapper {
        max-width: 1000px;
        margin: 0 auto;
    }

    .intro-logo {
        display: block;
        text-align: center;
        margin-bottom: 43px;
        &:hover {
            img {
                opacity: 1;
            }
        }
    }

    .d-flex {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .intro-tkb {
        width: 50%;

        img {
            margin-top: 8px;
            margin-bottom: 7px;
        }
    }

    .it-tkb {
        letter-spacing: 1px;
        margin-bottom: 0;
        line-height: 1.7;
    }

    .intro-txt {
        width: 50%;
        padding-left: 40px;
    }

    .intro-list {
        margin-bottom: 18px;

        li {
            position: relative;
            padding-left: 20px;
            margin-bottom: 3px;
            letter-spacing: 1.4px;
            line-height: 1.8;

            &:last-child {
                margin-bottom: 0;
            }

            &::before {
                content: "";
                width: 8px;
                height: 8px;
                background-color: #896d40;
                position: absolute;
                top: 10px;
                left: 0;
                transform: rotate(45deg);
            }
        }
    }

    .intro-btn {
        display: flex;
        justify-content: space-between;
    }

    .btn-link {
        width: 220px;
        letter-spacing: 0.65px;
    }

    .intro-banner {
        width: 100%;
        margin-top: 36px;
        border: 1px #171e27 solid;
        background: url("/images/intro-banner.jpg") no-repeat center;
        background-size: cover;
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        z-index: 0;
        transition: all 0.3s ease;

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background-color: #fff;
            opacity: 0.5;
            transition: all 0.3s ease;
            // background-color: rgba($color: #fff, $alpha: .5);
            z-index: -1;
        }

        &:hover {
            &::after {
                opacity: 0;
            }

            .intro-p {
                img {
                    transform: translateX(5px);
                }
            }
        }

        p {
            line-height: 1.5;
        }
    }

    .intro-tt {
        margin-bottom: 0px;
        font-size: 30px;
        letter-spacing: 1px;
    }

    .intro-p {
        margin: 0;
        display: flex;
        align-items: center;
        transform: translateY(15px);

        img {
            margin-left: 10px;
            transition: all 0.3s ease;
        }
    }

    .intro-lk {
        position: absolute;
        inset: 0;
        transition: all 0.3s ease;
    }
}

.concept {
    position: relative;
    z-index: 0;
    padding-bottom: 98px;

    &::before {
        content: "";
        position: absolute;
        top: 46px;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba($color: #482a1d, $alpha: 0.04);
        z-index: -1;
    }

    .cept-label {
        letter-spacing: 1.3px;
        font-size: 30px;
    }

    .cept-head {
        margin-bottom: 40px;
        text-align: center;
    }

    .cept-list {
        display: flex;

        li {
            width: 600px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                inset: 1;
                background-color: rgba($color: #482a1d, $alpha: 0.7);
            }
        }
    }

    .cept-img {
        margin-bottom: 0;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #482a1d, $alpha: 0.7);
            mix-blend-mode: multiply;
        }

        img {
            width: 100%;
            height: 100%;
            max-width: 100%;
            object-fit: cover;
        }
    }

    .cept-tx {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;
    }

    .cept-num {
        padding-bottom: 16px;
        margin-bottom: 26px;
        border-bottom: 1px solid #fff;
        font-family: "Cormorant", serif;
        display: inline-block;
        font-size: 40px;
        transform: translateY(-7px);
    }

    .cept-tt {
        font-family: "Noto Serif JP", serif;
        font-size: 40px;
        letter-spacing: 1px;
        display: block;
    }

    .cept-wrap {
        background-color: #fff;
        padding: 40px 151px 80px;
    }

    .cept-txt {
        letter-spacing: 0.8px;
        margin-bottom: 52px;

        p {
            margin-bottom: 9px;
        }
    }

    .btn-link {
        width: 300px;
        margin: 0 auto;
    }
}

.knowledge {
    overflow: hidden;
    background-color: #482a1d;
    color: #fff;
    padding: 124px 0 95px;
    // display: flex;

    .know-txt {
        margin-left: calc((100% - 1200px) / 2);
        // width: 540px;
        // display: inline-block;
    }

    .know-head {
        display: inline-block;
    }

    .title {
        margin-bottom: 14px;
    }

    .know-label {
        margin-bottom: 20px;
        letter-spacing: 3px;
        font-size: 30px;
    }

    .know-desc {
        letter-spacing: 0.5px;
        margin-bottom: 53px;
    }

    .know-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        li {
            padding: 0 10px 0 31px;
            position: relative;
            letter-spacing: 0.7px;
            font-family: "Noto Serif JP", serif;
            font-size: 18px;
            width: 48.5%;
            margin: 0 0 38px 0px;

            &:nth-child(3),
            &:nth-child(4) {
                transform: translateX(40px);
            }

            &::before {
                content: "";
                width: 47px;
                height: 62px;
                background-image: url("/images/asset.png");
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }
    }

    .know-ig {
        float: right;
        // margin-top: 17px;
        margin: 17px 0 0 35px;
        transform: translateX(50px);

        img {
            width: 100%;
            max-width: 100%;
            object-fit: cover;
        }
    }
}

.hospitality {
    padding: 0 0 101px;
    margin-top: 0px;
    color: #fff;
    background-color: #482a1d;
    position: relative;
    z-index: 0;

    &::before {
        content: "";
        width: 100%;
        position: absolute;
        top: 97px;
        bottom: 0;
        left: 0;
        background-color: #3e2318;
        z-index: -1;
    }

    .hospi-txt {
        margin: 0 0 0 0;
        margin-right: calc((100% - 1200px) / 2);
        // width: 515px;
        display: inline-block;
    }

    .hospi-head {
        display: inline-block;
        margin-top: 52px;
    }

    .title {
        margin-bottom: 35px;
    }

    .hospi-label {
        margin-bottom: 35px;
        font-size: 30px;

        span {
            display: block;
            line-height: 1.4;
            margin-bottom: 9px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .hospi-desc {
        letter-spacing: 0.5px;
        line-height: 2.34;
    }

    .hospi-ig {
        transform: translateX(-48px);
        float: left;
        margin-right: 76px;
        width: 960px;
        height: 586px;
    }

    .hospi-img {
        float: left;
        position: relative;
    }

    .hospi-t {
        width: 220px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0%;
        right: 0;
        font-size: 17px;
        background-color: #482a1d;
        text-align: center;
        line-height: 1.3;

        &::after {
            content: "";
            width: 40px;
            height: 1px;
            background-color: #896d40;
            position: absolute;
            bottom: 0;
        }
    }

    .hp-img2 {
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .hp-img3 {
        margin-left: 20px;
    }
}

.equipment {
    padding: 104px 0 97px;
    background-color: #482a1d;
    color: #fff;

    .title {
        text-align: center;
        margin-bottom: 27px;
    }

    .equi-label {
        text-align: center;
        font-size: 30px;
        line-height: 1.8;
        letter-spacing: 1px;
        margin-bottom: 48px;
    }

    .equi-cols {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
        margin: -30px;
    }

    .equi-col {
        width: calc(100% / 3);
        padding: 30px;
    }

    .equi-item {
        position: relative;
        overflow: hidden;

        p {
            margin-bottom: 0;
        }

        &:hover {
            .equi-desc {
                transform: translateY(0);
            }

            // .equi-img,
            // .equi-tt {
            //     opacity: 0;
            // }
        }
    }

    .equi-img {
        transition: all 0.4s ease;

        img {
            width: 100%;
            max-width: 100%;
            object-fit: cover;
        }
    }

    .equi-tt {
        position: absolute;
        bottom: 0;
        right: 0;
        font-family: "Noto Serif JP", serif;
        width: 200px;
        height: 50px;
        background-color: #482a1d;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 17px;
        transition: all 0.3s ease;

        &::after {
            content: "";
            width: 40px;
            height: 1px;
            background-color: #a6884c;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .equi-desc {
        // transition: all 0.5s ease;
        // position: absolute;
        // inset: 0;
        // transform: translateY(100%);
        // margin-top: -11px;
        // letter-spacing: 0.2px;
        margin-top: -11px;
        letter-spacing: 0.2px;
    }

    .btn-link {
        text-align: center;
        color: #fff;
        border-color: #fff;
        margin: 20px 30px 0 auto;
        width: 300px;

        &::after {
            border-color: transparent transparent #fff transparent;
        }

        &:hover {
            background-color: #fff;
            color: #896d40;

            &::after {
                border-color: transparent transparent #896d40 transparent;
            }
        }
    }
}

.cleanliness {
    overflow: hidden;
    padding: 100px 0 100px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 1152px;
        height: 606px;
        background-color: rgba($color: #482a1d, $alpha: 0.04);
    }

    .liness-txt {
        margin-left: calc((100% - 1200px) / 2);
        // width: 500px;
        // display: inline-block;
    }

    .liness-head {
        display: inline-block;
        margin-top: 35px;
    }

    .title {
        margin-bottom: 14px;
        transform: translateX(-5px);
    }

    .liness-label {
        font-size: 30px;
        margin-bottom: 20px;
        letter-spacing: 1.4px;
    }

    .liness-desc {
        letter-spacing: 0.5px;
        margin-bottom: 49px;
        line-height: 2.34;
    }

    .liness-ig {
        float: right;
        transform: translateX(50px);
        margin-left: 85px;
    }

    .btn-link {
        width: 300px;
    }
}

.precautions {
    position: relative;
    padding: 104px 0 100px;
    color: #fff;
    height: 1036px;
    width: 100%;
    background-image: url("/images/precautions-img01.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;

    &::before {
        content: "";
        background-image: radial-gradient(circle at center, rgba(77, 51, 29, 0.9) 0%, #3b281c 47%, #261c17 100%);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.9;
        z-index: -1;
    }

    .precaut-wrapper {
        max-width: 1000px;
        margin: 0 auto;
    }

    .title {
        text-align: center;
        color: #fff;
        margin-bottom: 9px;
    }

    .precaut-label {
        margin-bottom: 20px;
        font-size: 40px;
        text-align: center;
        line-height: 1.4;
        letter-spacing: 2.5px;
    }

    .precaut-desc {
        margin-bottom: 40px;
        text-align: center;
    }

    .precaut-list {
        font-family: "Noto Serif JP", serif;
        background-color: rgba($color: #bf8a54, $alpha: 0.3);
        padding: 64px 20px 62px 94px;
        margin-bottom: 41px;

        li {
            position: relative;
            padding-left: 40px;
            display: flex;
            align-items: center;
            margin-bottom: 25px;
            font-size: 18px;
            letter-spacing: 1.4px;
            line-height: 1.8;

            &:last-child {
                margin-bottom: 0;
            }

            &:nth-child(1) {
                margin-bottom: 60px;
            }
        }
    }

    .precaut-num {
        color: #a6884c;
        font-size: 30px;
        font-family: "Cormorant", serif;
        position: absolute;
        top: -3px;
        left: 0;
        line-height: 1;

        &::after {
            content: "";
            width: 47px;
            height: 62px;
            background: url("/images/asset.png");
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-42%, -43%);
        }
    }

    .precaut-ft {
        text-align: center;
        // letter-spacing: -0.3px;
    }
}

.treatment {
    padding: 114px 0 100px;

    .main-cl {
        color: #896d40;
        display: inline-block !important;
    }

    .title {
        text-align: center;
        margin-bottom: 17px;
    }

    .treat-label {
        text-align: center;
        margin-bottom: 37px;

        span {
            display: block;
        }
    }

    .trt-t {
        margin-bottom: 6px;
        font-size: 20px;
    }

    .trt-b {
        font-size: 30px;
        letter-spacing: 2.2px;
    }

    .treat-desc {
        max-width: 1000px;
        margin: 0 auto 62px;
        letter-spacing: 0.4px;
    }

    .treat-cols {
        margin: -32px -30px;
        display: flex;
        flex-wrap: wrap;
    }

    .treat-item {
        padding: 32px 30px;
        width: 50%;

        &:nth-child(1) {
            .txt-desc {
                margin-bottom: 52px;
            }
        }

        &:nth-child(2) {
            .txt-desc {
                margin-bottom: 31px;
            }
        }
    }

    .treat-img {
        margin-bottom: 0;
        position: relative;
        z-index: -2;

        img {
            width: 100%;
            max-width: 100%;
            object-fit: cover;
        }
    }

    .treat-txt {
        background-color: #fff;
        width: 480px;
        // height: 546px;
        position: relative;
        margin: -50px auto 0;
        padding: 48px 40px 50px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 4px;
            left: 4px;
            background-color: #482a1d;
            z-index: -1;
        }
    }

    .txt-label {
        font-size: 16px;
        font-family: "Noto Serif JP", serif;
        margin-bottom: 5px;
        text-align: center;
        line-height: 1.3;
        letter-spacing: 0.5px;
    }

    .txt-title {
        font-family: "Noto Serif JP", serif;
        font-size: 30px;
        color: #896d40;
        padding-bottom: 15px;
        margin-bottom: 10px;
        position: relative;
        text-align: center;
        line-height: 1.3;
        letter-spacing: 2px;

        &::before {
            content: "";
            width: 40px;
            height: 1px;
            background-color: #896d40;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .txt-desc {
        letter-spacing: 0.3px;
        margin-bottom: 29px;
        line-height: 2.34;
    }

    .btn-link {
        margin: 0 auto;
        width: 300px;
        border-color: #482a1d;
        background-color: #482a1d;
        color: #fff;

        &:hover {
            background-color: #fff;
            color: #896d40;
        }
    }

    .treat-list {
        display: flex;
        margin-top: 74px;

        li {
            width: calc(100% / 3);
            position: relative;
            cursor: pointer;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(0deg, #412922 0%, #412922 0%, rgba(65, 41, 34, 0) 80%);
                z-index: 1;
                mix-blend-mode: multiply;
            }

            &::after {
                content: "";
                position: absolute;
                bottom: 10px;
                right: 10px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 0 10px 10px;
                border-color: transparent transparent #fff transparent;
                z-index: 2;
            }

            &:hover {
                .lst-img {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }

        a.lst-link {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 3;
        }
    }

    .lst-img {
        margin-bottom: 0;
        overflow: hidden;

        img {
            width: 100%;
            max-width: 100%;
            object-fit: cover;
            transition: all 0.4s ease;
        }
    }

    .lst-txt {
        position: absolute;
        bottom: 8px;
        left: 22px;
        right: 10px;
        z-index: 2;
        margin-bottom: 0;
        color: #fff;
        font-family: "Noto Serif JP", serif;
    }

    .lst-tt {
        display: block;
        font-size: 16px;
        position: relative;
        padding: 0 0 11px 0;
        margin-bottom: 10px;
        // letter-spacing: 1.4px;
        line-height: 1.5;

        &::after {
            content: "";
            width: 290px;
            height: 1px;
            background-color: rgba($color: #fff, $alpha: 0.5);
            position: absolute;
            bottom: 0;
            left: -22px;
        }
    }

    .lst-title {
        font-size: 24px;
        // padding-left: 22px;
        letter-spacing: 2.6px;
    }
}

.doctor {
    background-color: rgba($color: #482a1d, $alpha: 0.04);
    padding: 100px 0 100px;
    position: relative;
    overflow: hidden;
    z-index: 0;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 1150px;
        height: 669px;
        z-index: -1;
        background-color: #fff;
    }

    .doctor-ig {
        float: left;
        transform: translate(-48px, 3px);
        margin-right: 28px;
    }

    .doctor-txt {
        // width: 562px;
        // display: inline-block;
        // margin: 34px 0 0 28px;
        margin-right: calc((100% - 1200px) / 2);
    }

    .doctor-head {
        margin: 36px 0 0 0;
        display: inline-block;
    }

    .title {
        margin-bottom: 27px;
    }

    .doctor-label {
        margin-bottom: 32px;
        font-size: 30px;
        line-height: 1.5;
    }

    .doctor-desc {
        margin-bottom: 41px;
        letter-spacing: 0.5px;

        span {
            display: block;
            margin-bottom: 12px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .btn-link {
        width: 300px;
        transform: translateX(4px);
    }
}

.bg-parallax {
    background-image: url("/images/bg-parallax.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
    width: 100%;
}

/*===================== end Top Content ========================*/

/*===================== Footer ========================*/
.footer-top {
    padding: 0 0 73px;
    margin-top: -156px;

    .ft-wrapper {
        background-color: #fff;
        position: relative;
        padding: 77px 60px 0;
    }

    .ft-cols {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .ft-item {
        // width: 50%;
        width: 500px;

        // &:nth-child(1) {
        //     padding-right: 30px;
        // }
    }

    .ft-logo {
        display: block;
        text-align: center;
        margin-bottom: 45px;
        margin-left: 33px;
        &:hover {
            img {
                opacity: 1;
            }
        }
    }

    .d-flex {
        justify-content: space-between;
        // padding: 0 10px;
        margin-bottom: 20px;
    }

    .ft-call {
        padding-right: 10px;
    }

    .call-f {
        font-weight: normal;
        font-size: 31px;
        display: block;
        text-decoration: none;
        letter-spacing: 0.75px;
        line-height: 1.3;
    }

    .ft-time {
        font-size: 14px;
        letter-spacing: 1.3px;
    }

    .ft-web {
        width: 220px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        background-image: linear-gradient(160deg, #f8c87d 0%, #b78d50 39%, #5d4427 100%);
        text-decoration: none;
        color: #fff;
        letter-spacing: 1px;
        position: relative;

        &:hover {
            img {
                opacity: 1;
            }
        }

        &::after {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 7px 7px;
            border-color: transparent transparent #fff transparent;
            position: absolute;
            bottom: 5px;
            right: 5px;
        }

        img {
            margin-right: 9px;
        }
    }

    .ft-tkb {
        // padding: 0 10px;
    }

    .tkb-img {
        margin-bottom: 15px;
    }

    .tkb-note {
        margin-bottom: 0;

        span {
            display: block;
            line-height: 1.5;
            letter-spacing: 1px;
        }
    }

    .ft-map {
        margin-bottom: 10px;
        text-align: right;

        iframe {
            margin-bottom: 12px;
        }
    }

    .map-link {
        text-decoration: none;
        font-size: 15px;
        letter-spacing: 1px;
        display: inline-flex;
        align-items: center;

        img {
            margin-left: 6px;
        }
    }

    .ft-list {
        li {
            position: relative;
            padding-left: 20px;
            margin-bottom: 3px;
            letter-spacing: 1.4px;
            line-height: 1.8;

            &::before {
                content: "";
                width: 8px;
                height: 8px;
                background-color: #896d40;
                position: absolute;
                top: 10px;
                left: 0;
                transform: rotate(45deg);
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.footer-mid {
    background-color: rgba($color: #482a1d, $alpha: 0.04);
    padding: 54px 0 32px;

    .fm-desc {
        line-height: 2.15;
        letter-spacing: 0.6px;
    }
}

.footer-bottom {
    background-color: #482a1d;
    color: #fff;
    padding: 76px 0 17px;

    a {
        color: #fff !important;
    }

    .fb-top {
        display: block;
        text-decoration: none;
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 42px;
        transition: all .3s ease;
        &:hover{
            text-decoration: underline;
        }
    }

    .d-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 89px;
    }

    .fb-item {
        &:nth-child(1) {
            width: 268px;
        }

        &:nth-child(2) {
            width: 467px;
            transform: translateX(-4px);
        }

        &:nth-child(3) {
            width: 200px;
            margin-top: 10px;
        }
    }

    .fb-head {
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        line-height: 1.4;
        margin-bottom: 20px;
        padding-bottom: 8px;
        border-bottom: 1px solid rgba($color: #fff, $alpha: 0.3);

        .f-serif {
            padding-left: 19px;
            position: relative;
            letter-spacing: 2px;

            &::before {
                content: "";
                position: absolute;
                top: 10px;
                left: 1px;
                width: 8px;
                height: 8px;
                background-color: #896d40;
                transform: rotate(45deg);
            }
        }

        .f-cor {
            color: #896d40;
            letter-spacing: 1px;
        }
    }

    .fb-list {
        columns: 2;
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: space-between;

        // li {
        //     width: 50%;
        // }
    }

    .fb-link {
        text-decoration: none;
        transition: all .3s ease;
        &:hover{
            text-decoration: underline;
        }
    }

    .fb-web {
        display: block;
        margin-bottom: 20px;
        cursor: pointer;

        &:hover {
            img {
                opacity: 1;
            }
        }
    }

    .copyright {
        font-size: 13px;
        letter-spacing: 1px;
        opacity: 0.5;
        text-align: center;
    }
}

#totop {
    position: fixed;
    bottom: 0px;
    right: 50px;
    right: 0;
    width: 100px;
    height: 100px;
    z-index: 89;
    margin-bottom: 0;
    display: none;

    a {
        height: 100%;
        font-family: "Cormorant", serif;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #482a1d;
        color: #896d40;
        text-decoration: none;
        border-top: 1px solid #896d40;
        border-left: 1px solid #896d40;
        letter-spacing: 1px;
        transition: all 0.3s ease;

        img {
            margin-bottom: 7px;
            transform: translateY(7px);
        }
    }

    &:hover {
        opacity: 0.8;

        a {
            // background-color: #fff;
        }

        img {
            opacity: 1;
        }
    }
}

/*===================== End Footer ========================*/

/*Fonts*****************/
/*
font-family: 'Cormorant', serif;
font-family: 'Lora', serif;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Noto Serif JP', serif;
*/

/*IE*/
@media screen\0 {
}

/*Edge*/
@supports (-ms-ime-align: auto) {
}

/*FireFox*/
@-moz-document url-prefix() {
}

/*Safari*/
@media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    }
}
